/* page background */
.page-background{
  background-color: #000000;
  color: white;
}
/* Hero section */
.hero-section{
  font-family: 'PT Serif Caption', serif;
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom:9rem;
}
.landing-logo{
  width:20%;
}
.landing-text{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.github-logo{
  margin-top: 20px;
}

@media only screen and (max-width: 600px) {
  .page-background {
    /* height: 49rem !important; */
    padding-bottom: 29%;
  }
  .hero-section{
    padding-top: 40%;
  }
  .landing-text{
    margin-top: 5%;
    width:80%;
  }
}

@media (min-width: 600px) and (max-width: 1000px) {
  .page-background {
    padding-bottom: 2%;
  }
  .hero-section{
    padding-top: 20%;
  }
  .landing-text{
    margin-top: 5%;
    width:80%;
  }
}